/* src/components/HeatmapComponent/HeatmapComponent.css */
.heatmap-container {
  position: relative;
}

.heatmap {
  width: 100%;
  height: auto;
}

.heatmap-tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  pointer-events: none;
  display: none;
  z-index: 10;
  max-width: 200px;
  word-wrap: break-word;
}

.file-dropdown {
  margin-bottom: 10px;
}
