/* HeatmapD3.css */
.heatmapContainer {
    position: relative;
  }
  
  .heatmapSvg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1; /* Adjust as needed */
  }
  