/* HeatmapTooltip.css */
.heatmap-tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1000;
  max-width: 400px; /* Set a max-width to ensure it doesn't exceed screen width */
  font-size: 12px;
  word-wrap: break-word;
}

.heatmap-tooltip p {
  margin: 4px 0;
  font-size: 14px;
  opacity: 90;
  transition: opacity 0.3s ease;
}

.heatmap-tooltip.show {
  opacity: 1;
}

@media (max-width: 600px) {
  .heatmap-tooltip {
    max-width: 300px; /* Adjust for smaller screens */
    font-size: 10px;
  }
}

/* Disable scrollbars when .no-scroll is applied */
body.no-scroll {
  overflow: hidden;
}
